{% include 'header_user.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- looping --->
        {% for item in order %}
        <div class="col">
            <div class="card">
                <img src="../static/assets/Imgorder/{{item.gambar}}" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{item.nama}}</h5>
                    </div>
                    <p class="card-text">
                    <h5 class="card-title" style="color: brown;">Dari : {{item.dari}}</h5>
                    <h5 class="card-title" style="color: brown;">Untuk : {{item.untuk}}</h5>
                    <Strong class="desc">Deskripsi : </Strong> <span>{{item.deskripsi}}</span><br><br>
                    <p><strong>Status :</strong> <span id="status-1">{{item.status}}</span></p>
                    <p><strong>Alasan* :</strong> <span id="status-1">{{item.Alasan}}</span></p>
                    <button class="btn btn-success" onclick="approve('{{item.num}}')">Approve</button>
                    <!-- <button class="btn btn-danger" onclick="reject('{{item.num}}')">Reject</button> -->
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#rejectModal" onclick="openRejectModal('{{item.num}}')">Reject</button>
                    
                </div>
            </div>
        </div>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
            Launch static backdrop modal
        </button> -->

        <!-- Modal -->
        <div class="modal fade" id="rejectModal" tabindex="-1" aria-labelledby="rejectModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="rejectModalLabel">Reject Order</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <label for="rejectReason">Alasan Ditolak</label>
                        <input type="text" class="form-control" id="rejectReason" name="alasan" style="border-radius: 13px;" placeholder="Masukkan Alasan" required />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button id="confirmRejectBtn" class="btn btn-danger">Reject</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- looping --->

    </div>
</main>
{% include 'footer.html' %}