{% include 'header.html' %}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Dashboard</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/dashboard_user">Home</a></li>
                <li class="breadcrumb-item active">Dashboard</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="row row-cols-1 row-cols-md-3 g-4">

        <!-- looping --->
        {% for item in order %}
        <div class="col">
            <div class="card">
                <img src="../static/assets/Imgorder/{{item.gambar}}" class="card-img-top"
                    alt="Hollywood Sign on The Hill" />
                <div class="card-body">
                    <div class="d-flex justify-content-between">
                        <h5 class="card-title">{{item.nama}} - {{item.id}}</h5>
                    </div>
                    <hr>
                    <Strong class="desc">Tanggal Pembuatan : </Strong> <span>{{item.tanggal}}</span><br>
                    <p class="card-text">
                    <h5 class="card-title" style="color: brown;">Dari : {{item.dari}}</h5>
                    <h5 class="card-title" style="color: brown;">Untuk : {{item.untuk}}</h5>
                    <Strong class="desc">Deskripsi : </Strong> <span>{{item.deskripsi}}</span><br>
                    <p><strong>Status :</strong> <span>{{item.status}}</span></p>
                    <strong>Alasan* :</strong> <span id="status-1">{{item.Alasan}}</span></p>
                </div>
            </div>
        </div>
        {% endfor %}
        <!-- looping --->

    </div>
</main>
{% include 'footer.html' %}