{% include 'header_user.html' %}
<main id="main" class="main">
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // Ambil tombol hapus
            var deleteButtons = document.querySelectorAll('.delete-button');

            // Loop melalui setiap tombol hapus
            deleteButtons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    // Berhenti peristiwa default (mengikuti tautan)
                    event.preventDefault();

                    // Ambil URL penghapusan dari atribut href tombol hapus
                    var deleteUrl = button.getAttribute('href');

                    // Setel tautan hapus di dalam modal alert
                    var confirmDeleteButton = document.getElementById('confirmDeleteButton');
                    confirmDeleteButton.setAttribute('href', deleteUrl);

                    // Tampilkan modal alert
                    $('#deleteModal').modal('show');
                });
            });
        });
        document.addEventListener("DOMContentLoaded", function () {
            // Ambil tombol batal pada modal
            var cancelButton = document.querySelector('#deleteModal #cancel');

            // Tambahkan event listener untuk tombol batal
            cancelButton.addEventListener('click', function () {
                // Sembunyikan modal
                $('#deleteModal').modal('hide');
            });
        });

        function hide(){
            $('#deleteModal').modal('hide');
        };
    </script>


    <div class="pagetitle">
        <h1>Order Kerja</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Home</a></li>
                <li class="breadcrumb-item active">Order Kerja</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <div class="tabel mt-4">
        <div class="card border-0 shadow mb-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-centered table-nowrap mb-0 rounded mt-3 align-middle" style="text-align: center;">
                        <thead class="thead-light">
                            <tr> 
                                <th class="border-0 rounded-start">No</th>
                                <th class="border-0">ID</th>
                                <th class="border-0">Nama</th>
                                <th class="border-0">Tanggal Pembuatan</th>
                                <th class="border-0">Dari Dept</th>
                                <th class="border-0">Untuk Dept</th>
                                <th class="border-0">Deskripsi</th>
                                <th class="border-0">Lampiran Foto</th>
                            </tr>
                        </thead>
                        {% for item in order %}
                        <tr style="font-size: 13px;">
                            <td>{{loop.index}}</td>
                            <td>{{item.id}}</td>
                            <td>{{item.nama}}</td>
                            <td>{{item.tanggal}}</td>
                            <td>{{item.dari}}</td>
                            <td>{{item.untuk}}</td>
                            <td>{{item.deskripsi}}</td>
                            <td>
                                <img src="../static/assets/Imgorder/{{item.gambar}}" alt="" width="100">
                            </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <!-- /.card -->
        </div>
    </div>
    </div>
</main><!-- End #main -->
{% include 'footer.html' %}